@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  width: 100%;
  margin-bottom: 40px;
  &__item {
    img {
      width: 100%;
      height: 544px;
      object-fit: cover;
      @media (max-width: 560px) {
        height: 200px;
      }
    }
  }
  .slick-prev,
  .slick-next {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    z-index: 1;
  }
  .slick-prev {
    margin-left: 100px;
  }
  .slick-next {
    margin-right: 125px;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 4rem;
    @media (max-width: 560px) {
      font-size: 2rem;
    }
  }
  .slick-dots li button:before {
    font-size: 1.2rem;
    top: -60px;
  }
}
.section {
  margin-bottom: 40px;
}
.checkbox {
  .checkmark {
    .icon-check {
      transform: scale(0);
      transition: transform 0.3s ease;
    }
  }
  input:checked ~ .checkmark {
    background-color: #4267b2;
    border: 1px solid #4267b2;
    color: #fff;
  }
  input:checked ~ .checkmark > .icon-check {
    transform: scale(1);
  }
}
.color-white {
  background-color: rgb(176, 173, 173);
}
.color-orange {
  background-color: orange;
}
.color-pink {
  background-color: pink;
}
.color-yellow {
  background-color: yellow;
}
.color-blue {
  background-color: blue;
}
.color-black {
  background-color: black;
}
.color-red {
  background-color: red;
}
.mobile-header {
  @media (max-width: 560px) {
    display: none;
  }
}
.mobile-slider {
  @media (max-width: 560px) {
    max-width: 350px;
  }
}
.mobile-policy {
  @media (max-width: 560px) {
    max-width: 350px;
    .mobile-policy_name {
      font-size: 10px;
      font-weight: bold;
    }
    .mobile-policy_desc {
      font-size: 8px;
    }
  }
}
.mobile-dmsp {
  @media (max-width: 560px) {
    font-size: 20px;
  }
}
.mobile-dmsp_a {
  @media (max-width: 560px) {
    width: 40px;
    height: 40px;
  }
}
.mobile-dmsp_b {
  @media (max-width: 560px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.mobile-dmsp_c {
  @media (max-width: 560px) {
    width: 40px;
    height: 30px;
  }
}
.mobile-dmsp_d {
  @media (max-width: 560px) {
    font-size: 10px;
  }
}
.mobile-product {
  @media (max-width: 560px) {
    max-width: 350px;
  }
}
.mobile-product_dmsp {
  @media (max-width: 560px) {
    padding: 0;
  }
}
.mobile-product_text {
  @media (max-width: 560px) {
    font-size: 10px;
  }
}
.mobile-product_picture {
  @media (max-width: 560px) {
    width: 80px;
    height: 80px;
  }
}
.mobile-product_button {
  @media (max-width: 560px) {
    padding: 5px;
  }
}
